In [1]:
print('hi')

hi

In [2]:
print('my name is chae won')

my name is chae won

안녕하세요

# 헤드 1번
## 헤드 2번
### 헤드 3번
#### 헤드 4번

> 이거 인용구를 쓰는 겁니다.
>> 이건 두번째 인용구 입니다.
>>> 이건 세번째 인용구 입니다.

```
print('이건 코드블럭 입니다.')

In [3]:
```
print('이건 코드블럭 입니다.')
```

SyntaxError: invalid syntax (<ipython-input-3-ef7bf6fd556d>, line 1)

```
print('이건 코드블럭 입니다.')
```

``` 
print('이건 코드블럭 입니다.')
```

```python
print('이건 코드블럭 입니다.')
```

for 문을 해볼게요.
```python
for i in range(10):
    print(i)
    
 ```

저는**윤채원**입니다.  
저는__윤채원__입니다.

이건_이탤릭체_입니다.

이건 _이탤릭체 _ 입니다.

이건*이탤릭체*입니다.

이건*이탤릭체*입니다.

***

In [4]:
___

''

---
---

---  
---

1. 사과
2. 바나나
3. 배

- 이건 리스트다
    - 이건 안쪽 리스트다
        -더 안쪽 리스트다
            더더 안쪽이다

1. 세 자리 정수를 입력받고 이때 입력받은 정수 n에 대한 백의 자리, 십의 자리, 일의 자리 십진수 값을 다음과 같이 출력하시오.

> 세 자리 정수를 입력하시오 : 349  
> 백의 자리 : 3  
> 십의 자리 : 4  
> 일의 자리 : 9

2. 1~100의 합계를 최초로 1000이 넘게 하는 숫자 num을**"sum=0, num=0"**을 사용해 찾아보시오.

- for문  
- while문

# python_chapter 1
---

### 2021-1 튜터링

1. 세 자리 정수를 입력받고 이때 입력받은 정수 n에 대한 백의 자리, 십의 자리, 일의 자리 십진수 값을 다음과 같이 출력하시오.

> 세 자리 정수를 입력하시오 : 349  
> 백의 자리 : 3  
> 십의 자리 : 4  
> 일의 자리 : 9

2. 1~100의 합계를 최초로 1000이 넘게 하는 숫자 num을**"sum=0, num=0"**을 사용해 찾아보시오.

- for문  
- while문